<table border="0" style="font-family: Verdana;">
	<tr style="background-color: #B32C36;">
		<td style="padding: 10px 15px;">
			<img alt="" src="https://www.giroferta.com/images/logo-horizontal.png" style="width: 200px;">
		</td>
	</tr>
	<tr>
		<td style="padding: 20px 15px 10px 15px;">
			Olá <strong>Vanderlei!</strong>
		</td>
	</tr>
	<tr>
		<td style="padding: 10px 15px; font-size: 13px;">
			Recemos seu cadastro a partir do e-mail vanderlei@giroferta.com
		</td>
	</tr>
	<tr>
		<td style="padding: 10px 15px; font-size: 13px;">
			Se você nunca tenha solicitado nenhum cadastro, por favor, ignore este e-mail.
			<br />
			Caso contrário, clique no link abaixo para confirmar seu registro e ativar sua conta: 
		</td>
	</tr>
	<tr>
		<td style="padding: 10px 15px 20px 15px;">
			<a href="">Confirmar meu e-mail</a>
		</td>
	</tr>
	<tr>
		<td style="background-color: #B32C36;">
		&nbsp;
		</td>
	</tr>
</table>